@model AgilePoker.Models.UserRegistration
@{
    ViewBag.Title = "Registration";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.ValidationSummary()

    @Html.LabelFor(model => model.UserPreferredName)<br/>
    @Html.TextBoxFor(model => model.UserPreferredName)

    if (Model.ExistingRoomNames.Any())
    {
        <h3>Join an Existing Room</h3>
        @Html.DropDownListFor(model => model.SelectedExistingRoomName, new SelectList(Model.ExistingRoomNames))
        <br/><br />
        <input type="submit" value="Join Room" name="action:JoinRoom"/>
    }

    <h3>Create your own room</h3>
    @Html.LabelFor(model => model.NewRoomName)<br/>
    @Html.TextBoxFor(model => model.NewRoomName)
    <br/>
    @Html.LabelFor(model => model.NewRoomDeck)<br/>
    @Html.DropDownListFor(model => model.NewRoomDeck, @Model.Decks)
    <br /><br />
    <input type="submit" value="Create Room" name="action:CreateRoom"/>
}
