@model AgilePoker.Models.UserRegistration
@{
    ViewBag.Title = "Registration";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.ValidationSummary()

    @Html.LabelFor(model => model.UserPreferredName)<br/>
    @Html.TextBoxFor(model => model.UserPreferredName)

    if (Model.ExistingRoomNames.Any())
    {
        <h3>Join an Existing Room</h3>
        if (Model.ExistingRoomNames.Count > 3)
        {
            @Html.DropDownListFor(model => model.SelectedExistingRoomName, new SelectList(Model.ExistingRoomNames))<br/>
            @Html.LabelFor(model => model.JoinAsObserver) @:&nbsp; @Html.CheckBoxFor(model => model.JoinAsObserver)
            <br/>
            <br />
            <input type="submit" value="Join Room" name="action:JoinRoom"/>
        }
        else
        {
            foreach (var roomName in Model.ExistingRoomNames.OrderBy(x => x))
            {
                 <a onclick="JoinRoom('@roomName')" href="#">@roomName</a><br/>
            }
            @Html.LabelFor(model => model.JoinAsObserver) @:&nbsp; @Html.CheckBoxFor(model => model.JoinAsObserver)
        }
    }

    <h3>Create Your Own Room</h3>
    @Html.LabelFor(model => model.NewRoomName)<br/>
    @Html.TextBoxFor(model => model.NewRoomName)
    <br/>
    @Html.LabelFor(model => model.NewRoomDeck)<br/>
    @Html.DropDownListFor(model => model.NewRoomDeck, @Model.Decks)
    <br/>
    @Html.LabelFor(model => model.CreateAsObserver) @:&nbsp; @Html.CheckBoxFor(model => model.CreateAsObserver)
    <br />
    <br />
    <input type="submit" value="Create Room" class="btn-success"  name="action:CreateRoom"/>
    
    @Html.HiddenFor(model => model.SelectedExistingRoomName)
    <input type="submit" value="Join Room" name="action:JoinRoom" id="btnJoinRoom" style="visibility: hidden"/>
}

<script type="text/javascript">
    function JoinRoom(roomName) {
        $('#SelectedExistingRoomName').val(roomName);
        $('#btnJoinRoom').click();
    }
</script>