@model AgilePoker.Models.Room
@{
    ViewBag.Title = @Model.PokerRoom.Name;
}
<hgroup class="title">
    <h1>@Model.PokerRoom.Name</h1>
</hgroup>

<div class="row">
    <div class="col-md-5 col-sm-5">
        @using (Html.BeginForm())
        {
            if (@Model.PokerRoom.AgileMasterUser.UniqueName == User.Identity.Name)
            {
                if (@Model.PokerRoom.DisplayVotes)
                {
                    <input type="submit" value="Show Votes" name="action:ShowVotes" disabled="disabled" />
                }
                else
                {
                    <input type="submit" value="Show Votes" name="action:ShowVotes"  />
                }
                <input type="submit" value="Re-Vote" name="action:ReVote"/>
            }
            <!-- TODO: Ability to have Refresh pushed to the UI via SignalR -->
            <input type="submit" value="Refresh Screen" name="action:Refresh" title="Future SignalR"/>
            <br/>
            <br/>

            if (Model.SelectedCard != null)
            {
                <img src="@Url.Content(@Model.SelectedCard.PictureUrl)" title="@Model.SelectedCard.ToolTip" alt="@Model.SelectedCard.ToolTip"/>
                <br/>
            }

            @Html.LabelFor(model => model.SelectedCard)<br/>
            @Html.DropDownListFor(model => model.SelectedCardValue, new SelectList(Model.PlayingCards, "Value", "ToolTip", Model.SelectedCardValue))
            <br/>
            <br/>
            <input type="submit" value="Vote!" name="action:SelectCard"/>
        }
    </div>
    <br/>
    <div class="col-md-7 col-sm-7">
            
        <label>Players</label><br/>
        @foreach (var user in Model.PokerRoom.Users)
        {
            if (user.SelectedCard != null)
            {
                @user.PreferredName
                if (@Model.PokerRoom.DisplayVotes)
                {
                    <text> - </text>
                    <img src="@Url.Content(@user.SelectedCard.PictureUrl)" title="@user.SelectedCard.ToolTip" alt="@user.SelectedCard.ToolTip" width="30"/>
                }
                else
                {
                    <text> - Voted</text>
                }
                <br />
            }
            else
            {
                @user.PreferredName
                <text> - No Vote Yet</text>
            }
        }
    </div>
</div>