@model AgilePoker.Models.Room
@{
    ViewBag.Title = @Model.PokerRoom.Name;
}

<hgroup class="title">
    <h1>@Model.PokerRoom.Name</h1>
</hgroup>

@using (Html.BeginForm())
{
    if (Model.SelectedCard != null)
     {
         <img src="@Url.Content(@Model.SelectedCard.PictureUrl)" title="@Model.SelectedCard.ToolTip" alt="@Model.SelectedCard.ToolTip"/>
         <br/>
     }

    <!-- TODO: Need to displa ywhat users have submitted selections, button (only visible to Agile Master) that allows him/her to
        flip over all the selections, button (visible to agile master) allowing him/her to clear the voting,
        ability to have all this pushed to the UI via SignalR, etc -->
    @Html.LabelFor(model => model.SelectedCard)
    @Html.DropDownListFor(model => model.SelectedCardValue, new SelectList(Model.PlayingCards, "Value", "ToolTip", Model.SelectedCardValue))
    <br/>
    <br/>
    <input type="submit" value="Select Card" name="action:SelectCard"/>
    
    @Html.HiddenFor(model => model.PokerRoom)
}


