@model AgilePoker.Models.Room
@{
    ViewBag.Title = @Model.RoomName;
}
<hgroup class="title">
    <h1>@Model.RoomName</h1>
</hgroup>

<div class="row">
    <div class="col-md-5 col-sm-5">

            <div id="divScrumMaster">
                <input type="submit" value="Show Votes" id="btnShowVotes" />
                <input type="submit" value="Clear Votes" id="btnClearVotes" />
            </div>
            <br/>

            <div id="divSelectedCard"></div>

            <label for="ddlSelectedCard">Select a Card</label><br/>
            @Html.DropDownList("ddlSelectedCard", new SelectList(Model.PlayingCards, "Value", "CardName"))
            <br/>
            <br/>
            <input type="button" value="Vote!" id="btnVote"/>

    </div>
    <br/>
    <div class="col-md-7 col-sm-7">
        <div id="signalRUpdateTable">
            <table border="1">
                <thead>
                    <tr><th>Player</th><th>Hand</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="2">loading...</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="../../Scripts/jquery.signalR-2.0.3.min.js"></script>
<script src='/signalr/js'></script>
<script type="text/javascript">
    $(function() {

        var agilePokerHub = $.connection.AgilePokerHub;
        var roomName = '@Model.RoomName';
        var $updateTable = $('#signalRUpdateTable');
        var $updateTableBody = $updateTable.find('tbody');
        var voteTemplate = '<tr><td>{Player}</td><td>{Hand}</td></tr>';

        var serializedRoom = '';
        
        $.connection.hub.start(function() {
            // TODO: Get groups working correctly
            $('#btnVote').click(function () {
                vote();
            });
            
            $('#btnShowVotes').click(function () {
                showVotes();
            });
            
            $('#btnClearVotes').click(function () {
                clearVotes();
            });
        });

        function init() {
            agilePokerHub.server.getRoom(roomName).done(function (room) {
                updateRoom(room);
            });
        }

        agilePokerHub.client.broadcastUpdateRoom = function (room, shouldClearVotes) {
            updateRoom(room);
            if (shouldClearVotes) {
                $('#divSelectedCard').empty();
            }
        };

        $.connection.hub.start().done(init);

        function updateRoom(room) {
            serializedRoom = room;
            $updateTableBody.empty();
            if (room != undefined && room.Votes != undefined) {
                $.each(room.Votes, function () {
                    $updateTableBody.append(voteTemplate.replace('{Player}', this.User.PreferredName).replace('{Hand}', getVoteHtml(this.Card, room.ShowVotes)));
                });
                $('#btnVote').prop('disabled', room.ShowVotes);
            }
        }
        
        function vote() {
            agilePokerHub.server.vote(roomName, '@User.Identity.Name', $('#ddlSelectedCard').val()).done(function (card) {
                $('#divSelectedCard').empty();
                $('#divSelectedCard').append($('<img>', { src: card.PictureUrl, title: card.CardName, alt: card.CardName }));
            });
        }
        
        function showVotes() {
            agilePokerHub.server.showVotes(roomName);
        }
        
        function clearVotes() {
            agilePokerHub.server.clearVotes(roomName);
        }

        function getVoteHtml(card, shouldShowVotes) {
            if (card == undefined) {
                return "No Vote";
            }
            if (!shouldShowVotes) {
                return "Voted";
            }
            return "<img src='" + card.PictureUrl + "' title='" + card.CardName + "' alt='" + card.CardName + "' width='30'/>";
        }
    });
    
</script>
